*{ 
    margin: 0; 
    padding: 0; 
} 
h3{ 
    background-color: blue; 
    color: white; 
    padding: 15px; 
    border-color: blue; 
    border-style: solid; 
    border-width: 2px; 
} 
.overview{ 
    height:700px; 
    width:150px; 
    background-color: blue; 
    color: white; 
    padding-left: 40px; 
    padding-top: 50px; 
    display: inline-block; 
} 
.one{ 
    height: 60px; 
    width: 170px; 
    vertical-align: top; 
    display: inline-block; 
    padding-left: 10px; 
    padding-top:15px; 
    border-width: 2px; 
    border-style: solid; 
    border-color: black; 
    margin-top: 20px; 
    margin-left: 10px; 
} 
.two{ 
    height: 60px; 
    width: 170px; 
    vertical-align: top; 
    display: inline-block; 
    padding-left: 10px; 
    padding-top:15px; 
    border-width: 2px; 
    border-style: solid; 
    border-color: black; 
    margin-top: 20px; 
    margin-left: 10px; 
} 
.three{ 
    height: 60px; 
    width: 170px; 
    vertical-align: top; 
    display: inline-block; 
    padding-left: 10px; 
    padding-top:15px; 
    border-width: 2px; 
    border-style: solid; 
    border-color: black; 
    margin-top: 20px; 
    margin-left: 10px;

}